<h4 class="media align-items-center font-weight-bold py-3 mb-4">
  <div class="media-body ml-3">
    Payouts
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Today is Tuesday, 8 February 2018</small></div>
  </div>
</h4>

<hr class="container-m--x mt-0 mb-4">

<div class="row">
  <div class="d-flex col-xl-6 align-items-stretch">

    <!-- Stats + Links -->
    <div class="card d-flex w-100 mb-4">
      <div class="row no-gutters row-bordered row-border-light h-100">
        <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

          <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
            <i class="lnr lnr-chart-bars display-4 d-block text-primary"></i>
            <span class="media-body d-block ml-3">
              <span class="text-big font-weight-bolder">$1,342.11</span><br>
              <small class="text-muted">Earned this month</small>
            </span>
          </a>

        </div>
        <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

          <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
            <i class="lnr lnr-hourglass display-4 d-block text-primary"></i>
            <span class="media-body d-block ml-3">
              <span class="text-big"><span class="font-weight-bolder">152</span> Working Hours</span><br>
              <small class="text-muted">Spent this month</small>
            </span>
          </a>

        </div>
        <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

          <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
            <i class="lnr lnr-checkmark-circle display-4 d-block text-primary"></i>
            <span class="media-body d-block ml-3">
              <span class="text-big"><span class="font-weight-bolder">54</span> Tasks</span><br>
              <small class="text-muted">Completed this month</small>
            </span>
          </a>

        </div>
        <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

          <a href="javascript:void(0)" class="card-body media align-items-center text-dark">
            <i class="lnr lnr-license display-4 d-block text-primary"></i>
            <span class="media-body d-block ml-3">
              <span class="text-big"><span class="font-weight-bolder">6</span> Projects</span><br>
              <small class="text-muted">Done this month</small>
            </span>
          </a>

        </div>
      </div>
    </div>
    <!-- / Stats + Links -->

  </div>
  <div class="d-flex col-xl-6 align-items-stretch">

<!-- Sales -->
<ngb-tabset class="nav-tabs-top">
  <ngb-tab title="Sale stats">
    <ng-template ngbTabContent>
      <table class="table card-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Sales</th>
            <th>Cancelled</th>
            <th>Delivered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/05/2018</td>
            <td>12</td>
            <td>1</td>
            <td>5</td>
          </tr>
          <tr>
            <td>02/04/2018</td>
            <td>16</td>
            <td>2</td>
            <td>8</td>
          </tr>
          <tr>
            <td>02/03/2018</td>
            <td>5</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>02/02/2018</td>
            <td>21</td>
            <td>1</td>
            <td>10</td>
          </tr>
          <tr>
            <td>02/01/2018</td>
            <td>16</td>
            <td>2</td>
            <td>8</td>
          </tr>
          <tr>
            <td>01/31/2018</td>
            <td>5</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>01/30/2018</td>
            <td>21</td>
            <td>1</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
      <a href="javascript:void(0)" class="card-footer d-block text-center text-dark small font-weight-semibold">SHOW MORE</a>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Latest sales">
    <ng-template ngbTabContent>
      <table class="table card-table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Qty.</th>
            <th>Sum.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">PlayStation 4 1TB (Jet Black)</a>
            </td>
            <td class="align-middle">1</td>
            <td class="align-middle">$480.00</td>
          </tr>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">Nike Men Black Liteforce III Sneakers</a>
            </td>
            <td class="align-middle">2</td>
            <td class="align-middle">$115.1</td>
          </tr>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">Wireless headphones</a>
            </td>
            <td class="align-middle">1</td>
            <td class="align-middle">$235.55</td>
          </tr>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">HERO ATHLETES BAG</a>
            </td>
            <td class="align-middle">1</td>
            <td class="align-middle">$160.00</td>
          </tr>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">POÄNG</a>
            </td>
            <td class="align-middle">3</td>
            <td class="align-middle">$477.00</td>
          </tr>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">Apple iWatch (black)</a>
            </td>
            <td class="align-middle">1</td>
            <td class="align-middle">$399.00</td>
          </tr>
          <tr>
            <td class="align-middle">
              <a href="javascript:void(0)" class="text-dark">WALKING 400 BLUE CAT3</a>
            </td>
            <td class="align-middle">2</td>
            <td class="align-middle">$41.1</td>
          </tr>
        </tbody>
      </table>
      <a href="javascript:void(0)" class="card-footer d-block text-center text-dark small font-weight-semibold">SHOW MORE</a>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<!-- / Sales -->

  </div>

  <!-- Clients list -->
  <div class="table-responsive ui-bordered">
    <table class="clients-table table table-hover m-0">
      <tbody>

        <tr *ngFor="let client of clientsData" [ngClass]="{'bg-light': selected === client && sideboxOpened}" (click)="selectClient(client)">
          <td class="align-middle py-3">
            <div class="media align-items-center">
              <img [src]="'assets/img/avatars/' + client.avatar" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body flex-basis-auto pl-3">
                <a routerLink="/payout-receipt">{{client.name}}</a>
                <div class="text-muted small">@{{client.username}}</div>
              </div>
            </div>
          </td>
          <td class="align-middle py-3">
            {{client.company}}
          </td>
          <td class="align-middle py-3">
            <div>{{client.email}}</div>
            <div *ngIf="client.phone">{{client.phone}}</div>
          </td>
          <td class="align-middle py-3">
            <span *ngIf="client.status">
              <span class="badge badge-success" *ngIf="client.status === 1">Active</span>
              <span class="badge badge-info" *ngIf="client.status === 2">In progress</span>
              <span class="badge badge-warning" *ngIf="client.status === 3">Pending</span>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- / Clients list -->
