<nav class="footer" [ngClass]="currentBg()">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
      <div class="pt-3">
        <span class="footer-text">Tagmove 2018</span> ©
      </div>
      <div>
        <a routerLink="/about" class="footer-link pt-3">About Us</a>
        <a routerLink="/help" class="footer-link pt-3 ml-4">Help</a>
        <a routerLink="/contact" class="footer-link pt-3 ml-4">Contact</a>
        <a routerLink="/terms" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
      </div>
    </div>
  </nav>
  